.projectsPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.projectsPage .header {
  width: 100%;
  height: 30rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projectsPage .header .backyard {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 28, 0.4);
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
}

.projectsPage .header .backyard h1 {
  font-size: 4.5em;
}

.projectsPage .header .backyard a {
  color: white;
  font-size: 18px;
}

.projectsPage .header .backyard a:hover {
  cursor: pointer;
  color: #49c215;
  transition: all 0.5s ease;
}

.projectsPage .project {
  width: 100%;
  height: auto;
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.projectsPage .project .gallery {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0 10%;
}

.projectsPage .project .gallery .rendered {
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: row;
}

.projectsPage .project .gallery .rendered .image-project {
  position: relative;
  z-index: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projectsPage .project .gallery .rendered .image-project .backyard {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(50, 110, 24, 0);
  transform: scale(0);
}

.projectsPage .project .gallery .rendered .image-project .title {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
  font-size: 22px;
}

.projectsPage .project .gallery .rendered .image-project:hover .backyard {
  background-color: rgb(50, 110, 24, 0.4);
  transform: scale(1);
  transition: all 0.5s ease;
}

.projectsPage .project .gallery .rendered .image-project:hover .title {
  opacity: 1;
  transition: all ease;
  transition-delay: 0.5s;
}

.projectsPage .project .actions {
  margin: 1rem 0 0 0;
}

.projectsPage .project .contact {
  width: 100%;
  height: auto;
  margin: 2rem 0 0 0;
}

.projectsPage .project .contact .content {
  width: 100%;
  height: 22rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projectsPage .project .contact .content .backyard {
  width: 100%;
  height: 100%;
  background-color: rgb(32, 24, 17, 0.4);
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectsPage .project .contact .content .backyard div {
  color: white;
}

.projectsPage .project .contact .content .backyard div p {
  font-size: 2.5rem;
}

.projectsPage .project .contact .content .backyard div div {
  font-size: 3rem;
}

@media screen and (max-width: 1024px) {
  .projectsPage .project .gallery {
    padding: 0 5%;
  }

  .projectsPage .project .contact .content .backyard div p {
    width: 70%;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .projectsPage .project .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projectsPage .project .contact .content .backyard {
    padding: 0 5%;
  }

  .projectsPage .project .contact .content .backyard div p {
    width: 80%;
    font-size: 2rem;
  }

  .projectsPage .project .contact .content .backyard div div {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .projectsPage .project .gallery {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .projectsPage .project .contact .content .backyard {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .projectsPage .project .contact .content .backyard div {
    text-align: center;
  }

  .projectsPage .project .contact .content .backyard div p {
    width: 100%;
    font-size: 1.75rem;
  }

  .projectsPage .project .contact .content .backyard div div {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 320px) {
  .projectsPage .project .gallery {
    grid-template-columns: 1fr;
  }
}
