.notived {
  position: fixed;
  top: 5%;
  width: fit-content;
  height: 3rem;
  background-color: #68d639;
  padding: 0 1rem;
  margin: auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.notived .symbol {
  display: flex;
  align-items: center;
}

.notived .symbol svg {
  font-size: 20px;
}

.notived .message {
  font-size: 18px;
}

#show {
  visibility: visible;
}

#hide {
  visibility: hidden;
}
